* {
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}
/*Utils*/
.header{
  background-color: #232124;
  height: 18%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  z-index: 10;
	position: fixed;
	top: 0;
}
.footerBox{
  background-color: #232124;
  height: 10rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  align-self: end;
  z-index: 4;
}
.contentBox{
  background-color: #ffffff;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding-top: 18vh;
  margin: 0;

}
video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  overflow: hidden;
  z-index: 1;
}
/*Images*/
.logo{
  height: 140%;

}
/*Z-Index*/
.z1{
  z-index: 1;
}
.z4{
  z-index: 4;
}
/*Paddings*/
.p0t{
  padding-top: 0;
}
.p1b{
  padding-bottom: 5%;
}

/*Texts*/
.infoText{
  font-size: calc(12px + 0.390625vw);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  padding-bottom: 1vh;
}
.smallTitle{
  font-size: calc(15px + 0.390625vw);
  padding-bottom: 3%;
  letter-spacing: 0.05rem;
  color: #fdfdfd;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
}
.submitText{
  font-size: calc(15px + 0.390625vw);
  font-weight: bolder;
  color: #ffb133;
  letter-spacing: 0.05rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;

}
.titleText{
  font-size: calc(30px + 0.390625vw);
  font-weight: bolder;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #433E45;
  letter-spacing: 0.05rem;
  padding-bottom: 4%;
  padding-top: 4%;
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;

}
/*Forms*/
.formBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #232124ce;
  backdrop-filter: blur(10px);
  height: 70vh;
  padding: 5vh;
  width: 50%;
  border-radius: 1rem;
  padding-bottom: 6%;
  margin-bottom: calc(2vh + 4vw);
}
.formStyle{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.formlabelBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffb133;
  height: 10vh;
  width: 80%;
  margin: 2.5%;
  border-radius: 1rem;
}
.label{
  font-size: large;
  font-weight: bolder;
  color: #ffffff;
  letter-spacing: 0.05rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.inputBox{
  margin-top: 0.5rem;
  display: flex;
  height: 2rem;
  width: 80%;
  border-radius: 0.5rem;
  border-color: #433E45;
  justify-content: center;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: medium;
  font-weight: 800;

}
.inputBox:disabled{
  background-color: #ffffff;
}
.submit{
  margin-top: 2rem;
  display: flex;
  height: 3rem;
  width: 50%;
  background-color: #ffffff;
  border: 0rem;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  text-decoration: none;
}
.submit:hover{
  background-color: #ffb133;
}
.submit:hover  .submitText{
  color: #433E45;
}

/*Header*/
.infoBox{
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
.accountBox{
  display: flex;
  flex-direction: column;
  padding: 1%;
  width: 15%;
  height: 10%;
  background-color: #ffb133;
  border-radius: 10%;
  position: fixed;
  top: 20px;
  right: 30px;
  z-index: 12;
}
.logoBox{
  width: 100%;
  height: 100%;
}

.popup{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;

}

.popup-inner{
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #fdfdfd79;
  backdrop-filter: blur(10px);
  z-index: 20;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;

}
.popupButton{
  margin-top: 2rem;
  display: flex;
  height: 3rem;
  width: 50%;
  background-color: #0a0a0a9f;
  border: 0rem;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  text-decoration: none;
}
.popupButton:hover{
  background-color: #ffb133;
}
.popupButton:hover  .submitText{
  color: #433E45;
}
.errorPopUp{
  position: absolute;
  top: 0;
  left: 50;
  width: 80%;
  height: 15%;
  padding-top: 5%;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;

}
.errorPopUp-inner{
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #cf111aa4;
  backdrop-filter: blur(10px);
  z-index: 20;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
}
.progressbar{
	position: relative;
	overflow: hidden;
  top: 3vh;
	width: 97%;
	height: 10px;
	border-radius: 5px;
	background-color: #ffffffa4;
}




